*{
    padding:0;margin:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
body{
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    color:#ddd;
    margin-top:80px;
    background:linear-gradient(#808386 5%,#3687b7,#808386 100%);
    background:-webkit-linear-gradient(#808386 5%,#3687b7,#808386 100%);
    background:-moz-linear-gradient(#808386 5%,#3687b7,#808386 100%);
    background:-o-linear-gradient(#808386 5%,#3687b7,#808386 100%);
    background-size:100%;
    height:100%;
}
::-webkit-scrollbar{width:5px; height:7px}
::-webkit-scrollbar-thumb { background: #0C99F1;border-radius:5px}
::-webkit-scrollbar-track { background:#292b40}

body.base-login{
    background:#2B2D42;

}

/*wesley

*/




.bg-login-1{
    background:#1B9CED;
    border-radius:5px 0 0 5px;
    padding:80px 40px 40px 40px;
    min-height:390px;
    text-align:center;
}
.bg-login-1 h3{
    color:#FFF;
    font-weight:100;
    margin-bottom:5px;
    padding-top:1.8rem;
}
.bg-login-1 small{
    color:#FFF;
}

.bg-login-2{
    background:#fff;
    border-radius:0 5px 5px 0;
    padding:80px 40px 40px 40px;
}
.bg-login-2 h2{
    color:#1B9CED;
    text-align:center
}
.bg-login-2 label{
    display:block;
    padding-bottom:3px;
    padding-top:1rem;
    color:#9a9a9a;
}
.bg-login-2 input[type=text],
.bg-login-2 input[type=password]{
    border: solid 1px #dedede;
    color: #8e8e8e;
    background: #f3f4f5;
}
.bg-login-2 input::-webkit-input-placeholder{
    color: #8e8e8e;
}
body.base-login .window{width:520px;}
body.base-login .window small{color:#9a9a9a;display:block;text-align:center}
body.base-login .window .fechar{position:absolute;right:10px; top:10px;cursor:pointer}
body.base-login .window .fechar:hover{color:red}
/*topo*/	
.bg-topo{
    position:fixed;
    width:100%;
    background:#2B2D42;
    padding:10px 0;
    margin-bottom:20px;
    float: left;
    top:0;
    z-index:1
}
.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    position: relative;
    z-index: 5;
}
.navbar{
    float: left;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    position:relative;
}

/*escolner (fica por ultimo)*/
.bg-temas{
    position: absolute;
    /*  background:linear-gradient(45deg, yellow,orange,#c11d87,#981028,#f75656,#ffd041);*/
    background: #418fbd;
    right: 0px;
    top: -10px;
    bottom: -10px;
    padding: 0 6px
}
.bg-temas input[type=radio]{
    display:none
}
.bg-temas label{
    position: relative;
    height: 20px;
    width: 20px;
    overflow:hidden;
    display:block;
    border:solid 1px #2b2d42;
    border-radius:5px;
    margin:7px 0;
    cursor:pointer
}

/*quando não selecionado*/
.cor-escuro ~ label[for=escuro]{background:#474d61}
.cor-claro ~ label[for=claro]{background:#e8e8e8}

/*quando selecionado*/
.cor-escuro:checked ~ label[for=escuro]{background:#2b2d42}
.cor-claro:checked ~ label[for=claro]{background:white}


.bg-temas input[type=radio]:checked + label:before{
    content:"";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: #cacaca;
    top: 3.5px;
    left: 3.5px;
}
.bg-temas input.cor-claro[type=radio]:checked + label:before{
    background: #5d5d5d;
}


/*menutopo*/
.menutopo{
    float:right;
    position:relative;
    top:4px
}
.menutopo li{
    display:block;
}
.menutopo li .img{
    width:30px;
    overflow:hidden;
    border-radius:50%;
    border:solid 1px #00000059;
    float:left;
}
.menutopo li span{
    display:inline-block;
    padding:10px;
    color:#ddd;
    cursor:pointer
}
.menutopo li a{
    color:#ddd;
    padding:15px;
    display:block
}

.newClass{
    display:none!important;
}
.mostrarClass{
    display:block!important;	
    position:absolute;
    background: #2b2d42;
    width: 200px;
    border-radius: 0 0 4px 4px; 
    box-shadow: 0px 3px 4px 0 #00000070;
    top: 45px;
}

.menuprincipal{
    max-width:18%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    margin-top: 59px;
    height: calc(100vh - 59px)!important;
    background: #2B2D42;
    z-index:2
}

/*modulo*/
.modulos{
    padding:10px 5px;
    display:inline-block;
    width:100%;
}
.modulos .item{
    background: #363c52bd;
    box-shadow: inset 2px 0 0 0px #26283b;
}

/*menu lateral*/
.menu-ul{
    /*max-height: calc(100vh - -583px);
overflow-y: scroll;*/
    background: #2B2D42;
}
.menu-ul li{
    display:block;
    font-size:1rem;
    clear:both;
    padding:0;
    border-bottom: solid 1px #363c52;
}
.menu-ul a{
    display:block;
    padding:12px 15px;
    color:#c3c8da;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:300;
    font-size: .79rem;
}
.menu-ul li:hover{
    background:#0000001c;
}
.menu-ul li.cat{
    border-bottom: 0!important;
    padding: 0 0!important;
    background: #49afef;	
}

.menu-ul li.cat a{
    /*border-left: 3px solid #0c99f1;*/
    font-weight:700;
    color: #fff;
    font-size: .8rem;
    padding: 10px 17px;
}

/*submenu*/
.submenu{
    position:relative;
}

.submenu > ul > li{
    border-bottom:solid 1px #21344e;
    font-size: .89em;
}

.submenu {border-bottom:0;position:relative;}
.submenu a{padding:10px;margin-left:0px;}
.submenu > ul{
    display:none;
    transition: all 0.7s ease;
}

.submenu:hover > ul{
    display: block;
    position: absolute;
    top: 0rem;
    transition: all 0.7s ease;
    z-index: 99999;
    width: 209px;
    background: #1f212f;
    left: 13.2rem;
}
.submenu.subcat:hover > ul {
    left: 13rem;
}
.submenu.marksub > ul > li:after,
.submenu:after{
    content:"";
    border:solid 4px transparent;
    border-left:solid 4px #ddd;
    position:absolute;
    right:15px;
    top:12px;
    border-radius:1px;
}
.submenu.subcat a{margin-left:0px;}

.submenu.subcat > ul > li > a{margin-left: 0;font-size: .8rem;}
.submenu.subcat > ul > li {position:relative}



/*acordeeon css*/
.item ul{
    width:100%;
    overflow:hidden;
    max-height:0;
    transition:all 0.5s linear;
}
.item input:checked ~ ul{
    height:auto;
    max-height:306px;
    background: #646b86
}

.item input[type=checkbox]{
    display:none;
}
.item label{
    border-bottom:solid 1px #363c52;
    display:block;
    cursor:pointer;
    padding:15px 20px;
    text-transform:uppercase;
    font-size:.8em;
    position:relative;
}
.item label:after{
    content: "";
    border: solid 4px transparent;
    border-top: solid 4px #ddd;
    position: absolute;
    right: 13px;
    top: 20px;
    border-radius: 1px;
}
.item label:hover{
    background: #0000001c;
}
.item .sub  > li,.item .sub label{padding-left:10px;font-size:.8rem}
.item .sub > li {border-color:#51576d}


/*
.item.mod2 li.cat a { color: #71bf8a;}
.item.mod2 input:checked ~ ul { background:#b8dcc4}

.item.mod3 li.cat a { color: #e08080;}
.item.mod3 input:checked ~ ul { background:#f1c2c2}

.item.mod4 li.cat a { color: #7d96e8;}
.item.mod4 input:checked ~ ul { background:#b4c0ec}

.item ul label{color:#363c52;}
.item ul label:after{border-top:solid 5px #363c52}
*/ 

/*conteudo-dividido*/
.conteudo-dividido{
    position:relative;
    padding-left:19%;	
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    border-radius:5px;
    min-height: calc(100vh - 134px);
    margin-right: 30px;
    display:block;
}
.conteudo{
    max-width:100%;
    width:100%;
    margin:0 auto;
}

.bg-fundo{
    background:#363C52;
}
.bg-padrao{background:#2B2D42}

.caixa{
    width:100%;
    display:inline-block;
    background:#2B2D42;
    border-radius:5px;
    margin-bottom:20px;
    border: solid 1px #363c52;
}
.caixa .caixa-titulo{
    text-align:left;
    text-transform:uppercase;
    color:#ddd;
    border-bottom:solid 1px #363C52;
    padding:20px;
    margin-bottom:0;
    background: #0000001c;
    border-radius:5px 5px 0 0;
}
.caixa .caixa-rodape{	
    border-top:solid 1px #363C52;
    padding:20px;
    background: #0000001c;
    border-radius:0 0 5px 5px;
}

.area-usuario{
    width:100%;
    float:left;
    padding:40px;
}
.area-usuario .thumb{
    width:100px;
    height:100px;
    overflow:hidden;
    border-radius:50%;
    background:#9FA4B7;
    float:left;
    border:solid 1px #000000d9
}
.area-usuario .thumb img{
    width:100%
}
.area-usuario .area-info{
    padding:10px 0;
    display:inline-block;
    margin-left:20px;
}
.area-usuario .area-info span,
.area-usuario .area-info small,
.area-usuario .area-info h2
{

    padding:2px 0;
    display:block
}
.area-usuario .area-info h2{font-weight:400}

.mobmenu {  display: none;}


/*disposição*/
.text-center{text-align:center!important;}
.d-block{display:block!important;}
.d-inline-block{display:inline-block!important;}
.d-none{display:none!important;}
.d-table{display:table!important;}

.float-left{float:left;}
.float-right{float:right;}
.float-none{float:none;}

.text-uppercase{text-transform:uppercase!important}

/*margens*/
.m-auto{margin:0 auto!important;}

.m-5{margin:3rem!important;}
.m-4{margin:2rem!important;}
.m-3{margin:1rem!important;}
.m-2{margin:.9rem!important;}
.m-1{margin:.6rem!important;}
.m-0{margin:0!important;}

.mt-5,.my-5{margin-top:3rem!important;}
.mb-5,.my-5{margin-bottom:3rem!important;}

.mt-4,.my-4{margin-top:2rem!important;}
.mb-4,.my-4{margin-bottom:2rem!important;}

.mt-3,.my-3{margin-top:1rem!important;}
.mb-3,.my-3{margin-bottom:1rem!important;}

.mt-2,.my-2{margin-top:.9rem!important;}
.mb-2,.my-2{margin-bottom:.9rem!important;}

.mt-1,.my-1{margin-top:.6rem!important;}
.mb-1,.my-1{margin-bottom:.6rem!important;}

.mt-0,.my-0{margin-top:0!important;}
.mb-0,.my-0{margin-bottom:0!important;}


.ml-5,.mx-5{margin-left:3rem!important;}
.mr-5,.mx-5{margin-right:3rem!important;}

.ml-4,.mx-4{margin-left:2rem!important;}
.mr-4,.mx-4{margin-right:2rem!important;}

.ml-3,.mx-3{margin-left:1rem!important;}
.mr-3,.mx-3{margin-right:1rem!important;}

.ml-2,.mx-2{margin-left:.9rem!important;}
.mr-2,.mx-2{margin-right:.9rem!important;}

.ml-1,.mx-1{margin-left:.6rem!important;}
.mr-1,.mx-1{margin-right:.6rem!important;}

.ml-0,.mx-0{margin-left:0!important;}
.mr-0,.mx-0{margin-right:0!important;}




/*paddign*/
.p-5{padding:3rem!important}
.p-4{padding:2rem!important;}
.p-3{padding:1rem!important;}
.p-2{padding:.9rem!important;}
.p-1{padding:.6rem!important;}
.p-0{padding:0!important;}

.pt-5,.py-5{padding-top:3rem!important}
.pb-5,.py-5{padding-bottom:3rem!important}

.pt-4,.py-4{padding-top:2rem!important;}
.pb-4,.py-4{padding-bottom:2rem!important;}

.pt-3,.py-3{padding-top:1rem!important;}
.pb-3,.py-3{padding-bottom:1rem!important;}

.pt-2,.py-2{padding-top:.9rem!important;}
.pb-2,.py-2{padding-bottom:.9rem!important;}

.pt-1,.py-1{padding-top:.6rem!important;}
.pb-1,.py-1{padding-bottom:.6rem!important;}

.pb-0,.py-0{padding-bottom:0!important;}
.pt-0,.py-0{padding-top:0!important;}


.pl-5,.px-5{padding-left:3rem!important}
.pr-5,.px-5{padding-right:3rem!important}

.pl-4,.px-4{padding-left:2rem!important;}
.pr-4,.px-4{padding-right:2rem!important;}

.pl-3,.px-3{padding-left:1rem!important;}
.pr-3,.px-3{padding-right:1rem!important;}

.pl-2,.px-2{padding-left:.9rem!important;}
.pr-2,.px-2{padding-right:.9rem!important;}

.pl-1,.px-1{padding-left:.6rem!important;}
.pl-1,.px-1{padding-right:.6rem!important;}

.pl-0,.px-0{padding-left:0!important;}
.pr-0,.px-0{padding-right:0!important;}

.border-left{border-left:solid 1px #363c52!important}
.border-right{border-right:solid 1px #363c52!important}
.border-top{border-top:solid 1px #363c52!important}
.border-bottom{border-bottom:solid 1px #363c52!important}
.border{border:solid 1px #363c52!important}
.border-0{border:0!important}

/*fonts*/
.h1{font-size:3.1rem!important;margin-bottom:20px;display:block;}
.h2{font-size:2.5rem!important;margin-bottom:20px;display:block}
.h3{font-size:1.8rem!important;margin-bottom:20px;display:block}
.h4{font-size:1.5rem!important;margin-bottom:20px;display:block}
.h5{font-size:1.1rem!important;margin-bottom:20px;display:block}
.h6{font-size:.9rem!important;margin-bottom:20px;display:block}

.grande-font{font-size:4rem!important;}
.medio-font{font-size:3rem!important;}
.pequeno-font{font-size:2rem!important;}
.minimo-font{font-size:1.2rem!important;}

.text-center{text-align:center!important;}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}
.text-end{justify-content: flex-end!important;}

/*links*/
.link-azul{color:#3aa6ea!important;text-decoration:none}
.link-azul:hover{color:#57abe0!important;text-decoration:underline}
.link-vermelho{color:#FF7373!important;text-decoration:none}
.link-vermelho:hover{color:#fb9090!important;text-decoration:underline}
.link-verde{color:#00D9A3!important;text-decoration:none}
.link-verde:hover{color:#59e4c2!important;text-decoration:underline}
.link-roxo{color:#4968D1!important;text-decoration:none}
.link-roxo:hover{color:#8ba2ef!important;text-decoration:underline}

/*text-color*/
.text-azul{color:#3aa6ea!important;text-decoration:none}
.text-vermelho{color:#FF7373!important;text-decoration:none}
.text-verde{color:#00D9A3!important;text-decoration:none}
.text-roxo{color:#4968D1!important;text-decoration:none}

/*posição*/
.position-relative{position:relative!important;}
.position-absolute{position:absolute!important;}
.position-fixed{position:fixed!important;}
.position-normal{position:normal!important;}
.position-inherit{position:inherit!important;}

/*cantos arredondados*/
.radius-circulo{border-radius:50%;overflow:hidden}
.radius-4{border-radius:4px}
.border-radius-ty{border-radius:0 .5rem .5rem 0;}
.border-radius-4{border-radius:4px}
/*largura*/
.width-100{width:100%!important;}
.width-50{width:50%!important;}
.width-30{width:30%!important;}

/*botoes*/
.btn{
    display: block;
    padding: 10px;
    border: solid 1px #0c8dde;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #0c99f1;
    transition:all .4s;
    font-size: .9rem;
}
.btn:hover{
    box-shadow:0 0 18px 0 #0000007d;
    transition:all .2s;
    cursor:pointer;
}

.btn.btn-vermelho{
    border: solid 1px #FF7373;
    background: #FF7373;
}
.btn.btn-amarelo{
    border: solid 1px #e8f791;
    background: #e8f791;
    color:#000!important
}
.btn-roxo{
    background:#7892ea;
    border: solid 1px #7892ea;
}
.btn-verde{
    background:#00D9A3;
    border: solid 1px #00D9A3;
}
.btn-laranja{
    background:#fbbb45;
    border: solid 1px #fbbb45;
}

/*.btn-outline*/
.btn-outline-azul{
    background:none!important;
    border: solid 1px #0c8dde;
    color:#0c8dde!important;
}
.btn-outline-vermelho{
    background:none!important;
    border: solid 1px #FF7373;
    color:#FF7373!important;
}
.btn-outline-verde{
    background:none!important;
    border: solid 1px #00D9A3;
    color:#00D9A3!important;
}
.btn-outline-roxo{
    background:none!important;
    border: solid 1px #7892ea;
    color:#7892ea!important
}
.btn-outline-amarelo{
    background:none!important;
    border: solid 1px #e8f791;
    color:#e8f791!important
}

/*tamnhos botoes*/
.btn.btn-grande{font-size:1.1rem}
.btn.btn-medio{font-size:1rem}
.btn.btn-pequeno{font-size:.7rem}


/*btn-nulo*/
.btn.btn-nulo{
    background: #404865;
    border-color: #404865;
    color: #6b7086;
}
.btn.btn-nulo:hover{
    cursor:default;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
}

.btn.clicado{
    background:#7892ea;
    border: solid 1px #7892ea;
}
.btn.clicavel{
    background: #00d9a3;
    border: solid 1px #00d9a3;
}
.btn.nulo{
    background: #404865;
    border-color: #404865;
    color: #6b7086;
}
.btn.nulo:hover{
    cursor:default;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
}



/*progress*/
progress{
    -webkit-appearance: none;
    height: 16px;
}
progress::-webkit-progress-value { background:#0C99F1; }

progress::-webkit-progress-bar {
    background-color:rgba(0,172,237,0.25); 
}
progress.progress-azul::-webkit-progress-value{background:#0C99F1;}
progress.progress-azul::-webkit-progress-bar{background:#0c99f16e;}

progress.progress-vermelho::-webkit-progress-value{background:#FF7373;}
progress.progress-vermelho::-webkit-progress-bar{background:#ff73737a;}

progress.progress-verde::-webkit-progress-value{background:#00D9A3;}
progress.progress-verde::-webkit-progress-bar{background:#00d9a38a;}

progress.progress-amarelo::-webkit-progress-value{background:yellow;}
progress.progress-amarelo::-webkit-progress-bar{background:#ffff007d;}

/*degrade*/
.caixa-cor{
    background:#3E486B;
    border: solid 1px #1f2438;
}

/*opacidada*/
.opaco{opacity:.8}

/*table*/
.tabela-responsiva{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.tabela-responsiva table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border:0;
}

.tabela-responsiva td {   
    border-bottom: 1px solid #1D202E;
    vertical-align:middle;
}
.tabela-responsiva th {  
    background:#1D202E;
    padding: .4rem;
}
.tabela-responsiva td,
.tabela-responsiva th {   
    font-size: .95rem;
}
.tabela-responsiva td {   
    padding: .6rem;
}
.rolagem-tabela{
    height:380px;
    overflow-y:srcoll
}

/*formularios*/
.form-campo{
    width:100%;
    max-width:100%;
    padding:10px;
    display:block;
    border:solid 1px #1D202E;
    color:#ccc;
    background: #464c63;
    border-radius: 4px;
    transition:all .2s;
}
.form-campo::-webkit-input-placeholder{color:#ddd}
.form-campo:focus{
    outline:none;
    box-shadow:inset 0 0 3px 2px #2b82ba7a;
    transition:all .2s;
}
.input-grupo {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-grupo .form-campo {
    position: relative;
    z-index: 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-grupo .form-campo:first-child {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-grupo-append {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-grupo-append .btn {
    border-radius: 0 4px 4px 0;
}
.text-label{
    display:block;
    padding-bottom: .7em;
    margin-top: .6rem;
    font-size:.8rem;
}
input[type=file],
input[type=date],
input[type=number]{padding: 7px 10px;}

/*load*/
.load{
    height: 37px;
    background: #fff;
    padding: 4px;
    border: solid 1px #b6b6b7;
    width: 37px;
    margin-left: -1px;
}
.load2{
    height: 20px;
    width: 20px;
    background:url(../img/ajax-loader.gif) no-repeat;
    background-size:100%;
    margin-right:8px;
    float:left;
}

.border-top{border-top:solid 1px #363c52}
.border-left{border-left:solid 1px #363c52}

/*imagem*/
.img-fluido{max-width:100%;}

/*paginacao*/
.paginacao{
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.paginacao li{
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.paginacao .link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #2f3344;
    background-color: #737990;
    border: 1px solid #5e6477;
    text-decoration:none;
}
.paginacao li:first-child .link {
    border-radius:4px 0 0 4px;
}
.paginacao li:last-child .link {
    border-radius:0 4px 4px 0;
}
.paginacao li.ativo{
    padding: .5rem .75rem;
    background: #0c99f1;
    color: #fff;
    border-color: #0c99f1;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
}
.paginacao li a:hover{
    background-color: #737990c2;
}
.paginacao li.ativo a:hover{
    background: #48afef;
    border-color: #48afef;
}

/*mensagens de alerta*/
.msg{
    position: relative;
    padding: .8rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.msg.msg-verde{
    background: #7fbb8d;
    border-color: #78bf89;
    color: #214838;
}
.msg.msg-vermelho{
    background: #f18181;
    border-color: #FF7373;
    color: #9a2b2b;
}
.msg.msg-amarelo{
    background: #e3ef9d;
    border-color: #b9c56e;
    color: #af5b11;
}


/*tabs*/
ul.tabs {
    margin-top: 0px;
    position: relative;
}
ul.tabs li {
    width:auto;
    padding:10px 15px;
    background:#4d536b;
    cursor:pointer;
    display:block;
    color:#ddd;
    text-align:center;	
    text-transform:uppercase;
    font-size:.85rem;
    float:left;
    margin-left:1px
}
ul.tabs li.current {
    border-bottom: solid 3px #46afef;
    position: relative;
    background: #46afef;
    color:#fff;
}

.tab-content{
    display: none;
    position:relative;
    top:-3px;
}

.tab-content.current{
    display:inherit;
    width: 100%;
    float: left;    
    background:#2B2D42;	
    padding:5px 30px;
    border: solid 1px #46afef;
    border-top: solid 3px #46afef;
    border-radius:0 0 5px 5px;
}
.itens-check label{color:#fff;border-radius:3px;background:#78967c;cursor:pointer}
.itens-check label:hover{background:#69826c;}
.itens-check input[type=checkbox]{display:none}
.itens-check input:checked ~ label{background:#20822d}
.itens-check input:checked ~ label:hover{background:#1ba92d}


.caixa-flutuante {
    border: solid 1px #3a3c54;
    left: 0;
    right: 0;
    z-index: 2;
    background: #5c606f;
    position: absolute;
}
.caixa-flutuante li{
    display:block;
    list-style:none;
    padding:8px;
    border-bottom:solid 1px #3a3c54;
}
.caixa-flutuante li:hover{
    background: #555e7d;
}
.caixa-flutuante li a{
    display:block;
    text-decoration:none;
    color:#fff
}


/*status escuro*/
.status{
    display: table;
    padding: .3rem .5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: .75rem;
    border: solid 1px #49afef;
    margin: 0 auto;
    border-radius: 3px;
    color: #dbe7ef;
    background: #ffffff14;
}
.status.digitacao{
    background: #7892ea;
    color: #f7f7f7;
    border-color: #7892ea;
}
.status.emespera{
    background: #d8bc51;
    color: #2b2d42;
    border-color: #d8bc51;
}
.status.atendido{
    background: #51d8b6;
    color: #2b2d42;
    border-color: #00d9a3;
}
.status.recusado{
    background: #f17073;
    color: #2b2d42;
    border-color: #f17073;
}
/*status botão*/
.status.digitacao.btn{
    border-color: #7892ea!important;
    padding: 10px!important;
    border-radius: 5px!important;
    color:#7892ea!important
}
.status.emespera.btn{
    border-color: #d8bc51!important;
    padding: 10px!important;
    border-radius: 5px!important;
    color:#d8bc51!important
}
.status.atendido.btn{
    border-color: #51d8b6!important;
    padding: 10px!important;
    border-radius: 5px!important;
    color:#51d8b6!important
}
.status.recusado.btn{
    border-color: #f17073!important;
    padding: 10px!important;
    border-radius: 5px!important;
    color:#f17073!important
}


/*janela modal*/
.window{
    width:900px;
    position:absolute;
    box-shadow:0 0px 8px 0 #fbfbfb70;
    z-index:2;
    display:none;
}
#mascara{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    background:#000;
    z-index:1
}	


/*rodape*/
footer{
    width: 100%;
    float: left;
    padding: 15px 0;
    text-align: center;
    color: #ddd;
    padding-left:225px;	
}


/*tema-claro*/
body.tema-claro{
    background:#fff;
    background:linear-gradient(#fff 12%,#81b5d6, #fff 100%);
    background:-webkit-linear-gradient(#fff 12%,#81b5d6, #fff 100%);
    background:-moz-linear-gradient(#fff 12%,#81b5d6, #fff 100%);
    background:-o-linear-gradient(#fff 12%,#81b5d6, #fff 100%);
    color:#394656;
}
a.tema-claro{color:#868ba0}
.tema-claro .bg-topo{background:#133461;}
.tema-claro .menutopo li span,.tema-claro .menutopo li a {color: #fff;}
.tema-claro .mostrarClass { background: #133461;}
.tema-claro .menu-ul,.tema-claro .menuprincipal {background:#133461;}
.tema-claro .menu-ul a,.tema-claro .item label{color:#e0e5f7}

.tema-claro .menu-ul li,.tema-claro .item label { border-bottom: solid 1px #223c61;}
.tema-claro .item .sub > li { border-color: #294873;}
.tema-claro .menu-ul li:hover {background: #4c5c983d;}
.tema-claro .item input:checked ~ ul{background: #6b97d46b;}
.tema-claro .submenu:hover > ul { background: #133461;}

.tema-claro .modulos .item {
    background: #2c4d7b;
    box-shadow: inset 2px 0 0 0px #0e284a;
}
.tema-claro .menu-ul li.cat { background: #677bbd8f;}
/*
.tema-claro .item ul label:after {border-top: solid 5px #363c52;}
.tema-claro .item ul label { color: #363c52;}
.tema-claro .item .sub label{color:#0E2647}
.tema-claro .item label:after {border-top: solid 5px #e0e5f7;}
.tema-claro .item .sub label:after {border-top: solid 5px #0E2647;}

.tema-claro .item.mod2 input:checked ~ ul { background:#95d6aa}
.tema-claro .item.mod3 input:checked ~ ul { background: #efacac;}
.tema-claro .item.mod4 input:checked ~ ul { background: #98abec;}
*/
.tema-claro ul > .sub > ul > li{border-bottom:solid 1px #21344e;}
.tema-claro html ::-webkit-scrollbar-track { background:#22487b!important;}
.tema-claro .bg-fundo { background:#eff7fb}
.tema-claro .caixa { background:#fff; border:solid 1px #8f9fb587}
.tema-claro .area-usuario .area-info span,.tema-claro .area-usuario .area-info small{ color: #1B9CED;}
.tema-claro .border,
.tema-claro .border-left,
.tema-claro .border-right,
.tema-claro .border-bottom,
.tema-claro .border-top{border-color:#8f9fb587!important;}
.tema-claro  .thumb {border-color: #6c7080;    background: #a3abc773;}
.tema-claro  .caixa-cor {
    background: #1b9ced;
    border: solid 1px #5986c3;
    color: #fff;
}
.tema-claro .radius-circulo {border: solid 1px #ddd;}
.tema-claro .caixa .caixa-titulo {background: #133461;color: #ffffff;}
.tema-claro .tabela-responsiva th {background: #1B9CED;color: #ffffff;}
.tema-claro .caixa .caixa-titulo,.tema-claro .tabela-responsiva td { border-bottom: solid 1px #8f9fb587;}
.tema-claro footer { color: #828aa9;}

.tema-claro .btn {border: solid 1px #1b9ced; background: #1b9ced;}
.tema-claro .btn:hover { box-shadow: 0 0 18px 0 #133461;}
.tema-claro .btn-verde { background: #38b596; border-color: #38b596;}
.tema-claro .btn-vermelho {border-color: #e06464; background: #e06464;}
.tema-claro .btn-roxo {border-color: #677bbd; background: #677bbd;}
.tema-claro .btn-azul {border-color: #0d86d2; background: #0d86d2;}
.tema-claro .btn-amarelo {border-color: #ffb200;background: #ffb200;}
.tema-claro .btn-laranja{background:orange;border: solid 1px orange;}

.tema-claro .btn-outline-verde { color: #38b596!important; border-color: #38b596;}
.tema-claro .btn-outline-vermelho {border-color: #e06464!important; color: #e06464!important;}
.tema-claro .btn-outline-roxo {border-color: #677bbd!important; color: #677bbd!important;}
.tema-claro .btn-outline-azul {border-color: #0d86d2!important; color: #0d86d2!important;}
.tema-claro .btn-outline-amarelo {border-color: #f79800!important; color: #f99945!important;}

/*links*/
.tema-claro .link-azul{color:#0d86d2;text-decoration:none}
.tema-claro .link-azul:hover{color:#57abe0;text-decoration:underline}
.tema-claro .link-vermelho{color:#e06464;text-decoration:none}
.tema-claro .link-vermelho:hover{color:#fb9090;text-decoration:underline}
.tema-claro .link-verde{color:#38b596;text-decoration:none}
.tema-claro .link-verde:hover{color:#59e4c2;text-decoration:underline}
.tema-claro .link-roxo{color:#677bbd;text-decoration:none}
.tema-claro .link-roxo:hover{color:#8ba2ef;text-decoration:underline}

/*text-color*/
.tema-claro .text-azul{color:#0d86d2!important;text-decoration:none}
.tema-claro .text-vermelho{color:#e06464!important;text-decoration:none}
.tema-claro .text-verde{color:#38b596!important;text-decoration:none}
.tema-claro .text-roxo{color:#677bbd!important;text-decoration:none}

.tema-claro .form-campo { border: solid 1px #b6b6b7; color: #94969a;  background: #ffffff;}
.tema-claro	.caixa .caixa-rodape { border-top: solid 1px #c6cee8;  background: #6670961c;}
.tema-claro	.paginacao .link {background-color: #e0ecf9; border: 1px solid #7c9fce; color: #5c8ed2;}
.tema-claro	.paginacao .link:hover {background-color: #a6c2e0;}
.tema-claro	.paginacao li.ativo .link:hover {background: #69739c;}

.tema-claro	.msg.msg-verde{ background: #49a58e; border-color: #3a907a;}
.tema-claro	.msg.msg-vermelho{ background: #bf6767;border-color: #bd5151; color: #8c3131;}
.tema-claro	.msg.msg-amarelo{ background: #e9ec5b; border-color: #d8c17a; color: #9a690c;}
.tema-claro	.tab-content.current{background:#F7F8FB;}
.tema-claro	ul.tabs li.current { border-bottom: solid 3px #133461; background: #133461;}
.tema-claro	ul.tabs li {  background: #7c94b5;}
.tema-claro .tab-content.current{border-color:#133461}
.tema-claro .form-campo:focus {box-shadow: inset 0 0 3px 2px #bac6f18a;}
.tema-claro .bg-padrao{background:#133461}

.tema-claro .itens-check label{color:#fff;border-radius:3px;background:#78967c;cursor:pointer}
.tema-claro .itens-check label:hover{background: #90a993;}
.tema-claro .itens-check input[type=checkbox]{display:none}
.tema-claro .itens-check input:checked ~ label{background:#07bb1e}
.tema-claro .itens-check input:checked ~ label:hover{background:#22e63b}

.tema-claro .caixa-flutuante {border: solid 1px #ddd; background: #fff;}
.tema-claro .caixa-flutuante li{border-bottom:solid 1px #ddd;}
.tema-claro .tab-content.current {
    border: solid 1px #133461;
    border-top: solid 3px #133461;
}
.tema-claro .caixa-flutuante li a{color:#8c8c8c}
.tema-claro .caixa-flutuante li:hover { background: #e6e6e6;}


/*tema claro*/

.tema-claro .status{
    color: #1b9ced;
}
.tema-claro .status.digitacao{
    background: #647cce;
    color: #f7f7f7;
    border-color: #647cce;
}
.tema-claro .status.emespera{
    background: #f9d344;
    color: #2b2d42;
    border-color: #f9d344;
}
.tema-claro .status.atendido{
    background: #47d2af;
    color: #2b2d42;
    border-color: #47d2af;
}
.tema-claro .status.recusado{
    background: #f17073;
    color: #2b2d42;
    border-color: #f17073;
}
/*status botão*/
.tema-claro .status.digitacao.btn{
    border-color: #647cce!important;
    padding: 10px!important;
    border-radius: 5px!important;
    color:#647cce!important
}
.tema-claro .status.emespera.btn{
    border-color: #f9ae20!important;
    padding: 10px!important;
    border-radius: 5px!important;
    color:#f9ae20!important
}
.tema-claro .status.atendido.btn{
    border-color: #22bd97!important;
    padding: 10px!important;
    border-radius: 5px!important;
    color:#22bd97!important
}
.tema-claro .status.recusado.btn{
    border-color: #f17073!important;
    padding: 10px!important;
    border-radius: 5px!important;
    color:#f17073!important
}
.tema-claro .btn.nulo {
    background: #c2c3c5!important;
    border-color: #c2c3c5!important;
    color: #a3a4a9!important;
}
.tema-claro .btn.nulo:hover {
    cursor:default!important;
    box-shadow:none!important;
}
.tema-claro .btn.clicavel {
    background: #10c79a!important;
    border: solid 1px #10c79a!important;
}
.tema-claro .btn.clicado {
    background: #7e97ea!important;
    border: solid 1px #7e97ea!important;
}



/**/
@media (min-width:1517px){	
    .modulos { padding: 10px 10px;}
}
/**/
@media (min-width:1707px){	
    .modulos{ padding: 10px 15px;}
}

/**/
@media (max-width:997px){	
    .conteudo-dividido {
        padding-left: 184px;
        padding-right: 0;
        min-height: auto;
        margin-right: 0;
        margin-left: 0;
    }	
    .menu-ul li { padding: 0 .5rem;}
}

/*1024*/
@media (max-width:1024px){
    .col, .col-1, .col-2, .col-3, .col-4, .col-6, .col-8, .col-9, .col-10, .col-12 {
        padding-right: 7px;
        padding-left: 7px;
    }
    .col-md-12{
        max-width:100%;
        flex: 0 0 100%;
    }
    .col-md-6{
        max-width:50%;
        flex: 0 0 50%;
    }
    .area-usuario .area-info {
        display: block;
        text-align: center;
        margin-left:0;
    }
    .area-usuario .thumb{float:none;margin:0 auto;}
}

/**/
@media (max-width:992px){	
    /*retonando valores none*/
    .conteudo-dividido {
        padding-right: 0;
        min-height: auto;
        margin-right: 0;
        margin-left: 0;
    }
    .mobmenu {  display: none;}
    .menutopo { display: block;}
    .menuprincipal {max-width: auto}
    .first{display:none}
    body.base-login{
        padding-left:20%;
        padding-right:20%;
    }
    .bg-login-1{display:none}
    .bg-login-2{border-radius:5px}
}
/**/
@media (max-width:900px){
    .mobmenu {  display: none;}
    .conteudo {
        padding: 0 10px;
    }
    .menuprincipal{
        z-index:2;
        max-width:100%!important;
        display:none;
        bottom: auto;
    }	

    .conteudo-dividido {
        width:100%;
        padding-left: 0;
        padding-right: 0;
        min-height: auto;
        margin-right: 0;
        margin-left: 0;
    }
    .menutopo{display:none}
    .mobmenu{
        display: block;
        position: absolute;
        right: 36px;
        color: #fff;
        font-size: 2rem;
    }
    .area-usuario .thumb {
        float: none;
        margin: 0 auto;
    }
    .area-usuario .area-info {
        display: block;
        margin-left: 0;
        text-align: center;
    }
    .p-5 { padding: 2rem;}
    .bg-temas {  right: -10px;}
}

/**/
@media (max-width:634px){
    .conteudo {padding: 0 0px!important;}
    .bg-temas { right: 0px;}
    .mobmenu {right: 46px;}
    body.base-login {
        padding-left: 6%;
        padding-right: 6%;
    }
}

/**/
@media (max-width:480px){
    .menuprincipal  {
        width:100%;
    }

    /*margens*/
    .m-5{margin:2rem!important;}
    .m-4{margin:1rem!important;}
    .m-3{margin:.9rem!important;}
    .m-2{margin:.8rem!important;}
    .m-1{margin:.5rem!important;}
    .m-0{margin:0!important;}

    .mt-5,.my-5{margin-top:2rem!important;}
    .mb-5,.my-5{margin-bottom:2rem!important;}

    .mt-4,.my-4{margin-top:1rem!important;}
    .mb-4,.my-4{margin-bottom:1rem!important;}

    .mt-3,.my-3{margin-top:.9rem!important;}
    .mb-3,.my-3{margin-bottom:.9rem!important;}

    .mt-2,.my-2{margin-top:.8rem!important;}
    .mb-2,.my-2{margin-bottom:.8rem!important;}

    .mt-1,.my-1{margin-top:.5rem!important;}
    .mb-1,.my-1{margin-top:.5rem!important;}

    .mt-0{margin-top:0!important;}
    .mr-0{margin-right:0!important;}


    .ml-5,.mx-5{margin-left:2rem!important;}
    .mr-5,.mx-5{margin-right:2rem!important;}

    .ml-4,.mx-4{margin-left:1rem!important;}
    .mr-4,.mx-4{margin-right:1rem!important;}

    .ml-3,.mx-3{margin-left:.9rem!important;}
    .mr-3,.mx-3{margin-right:.9rem!important;}

    .ml-2,.mx-2{margin-left:.8rem!important;}
    .mr-2,.mx-2{margin-right:.8rem!important;}

    .ml-1,.mx-1{margin-left:.5rem!important;}
    .mr-1,.mx-1{margin-right:.5rem!important;}

    /*paddign*/
    .p-5{padding:2rem!important}
    .p-4{padding:1rem!important;}
    .p-3{padding:.9rem!important;}
    .p-2{padding:.8rem!important;}
    .p-1{padding:.5rem!important;}

    .pt-5,.py-5{padding-top:2rem!important}
    .pb-5,.py-5{padding-bottom:2rem!important}

    .pt-4,.py-4{padding-top:1rem!important;}
    .pb-4,.py-4{padding-bottom:1rem!important;}

    .pt-3,.py-3{padding-top:.9rem!important;}
    .pb-3,.py-3{padding-bottom:.9rem!important;}

    .pt-2,.py-2{padding-top:.8rem!important;}
    .pb-2,.py-2{padding-bottom:.8rem!important;}

    .pt-1,.py-1{padding-top:.5rem!important;}
    .pb-1,.py-1{padding-bottom:.5rem!important;}

    .pl-5,.px-5{padding-left:2rem!important}
    .pr-5,.px-5{padding-right:2rem!important}

    .pl-4,.px-4{padding-left:1rem!important;}
    .pr-4,.px-4{padding-right:1rem!important;}

    .pl-3,.px-3{padding-left:.9rem!important;}
    .pr-3,.px-3{padding-right:.9rem!important;}

    .pl-2,.px-2{padding-left:.8rem!important;}
    .pr-2,.px-2{padding-right:.8rem!important;}

    .pl-1,.px-1{padding-left:.5rem!important;}
    .pl-1,.px-1{padding-right:.5rem!important;}

    body.base-login {
        padding-left: 3%;
        padding-right: 3%;
    }
}

